{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-root-import",
      [
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "src"
        }
      ]
    ],
    "transform-object-rest-spread"
  ]
}
